

.myItem-img{
    height:350px;
    border-radius: 15px;
}
.myItem-delete{
    border-radius: 10px;
    width:140px;
}

@media only screen and (max-width:576px) {
    .myItem-img{
        width:100%;
    }
}


