.item{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding:5px;

    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;

}

.item-img{
    height:230px;
}
.quantity{
    color: rgb(28, 10, 159);
}

@media only screen and (max-width:576px) {
    .item{
        background: #C6D8E4;
    }
}