#branches{
    background-color: #fef9f8;
}
.branches-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.branches-title{
 margin-left: 30px;
 margin-bottom: 50px;
}

/* make services responsive */
@media only screen and (max-width:576px) {
    .branches-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (min-width:577px) and (max-width:992px){
    .services-container{
        grid-template-columns: repeat(2,1fr);
    }
}