@media only screen and (max-width:576px) {
    .google{
        display: none;
    }
    .github{
        display: none;;
    }
    .social-media-signin{
        display: flex;
        justify-content: center;
    }
    .google-button{
        width:100px !important;
        margin-right: 0px!important;
    }
    .social-div{
        margin-left: 50px !important;
    }
    .github-button{
        width:100px !important;
    }
}

.social-div{
    margin-left: 150px;
    margin-right: 10px;

}