.addNew{
    background-color: #338EBB;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 50px;
}
.inputField{
    border:0px;
    border-radius: 0px;
    height:35px;
}
.inputField-des{
    border:0px;
    border-radius: 10px;
    height:60px;
}
.submit-addItem {
    border: 0px;
    border-radius: 10px;
    height:35px;
    width:250px;
    font-weight: bold;
    color: rgb(12, 14, 17);
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width:576px) {
    .addnew-main{
        width: 370px !important;;
    }
}